

.home-body{
    display: flex;
    flex-wrap: wrap;
}

.home-item{
    padding: 10px;
    position: relative;
    background-color:pink;
    /* flex-basis: 25%; */
    /* width: 300px; */
    height: 400px;
    margin: 10px;
    /* flex-basis: 25%; */
    width: 18%;
}

.addArticle-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 70px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
}

button{
    width: 40%;
    height: 10%;
    background-color: lightblue;
    border-radius: 20px;
    border-color: pink;
}
.delete{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.change{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.change-title{
    width: 60%;
    height: 10%;
    margin: 10px 0px;
    font-size: 16px;
}

.change-body{
    width: 98%;
    height: 60%;
    font-size: 16px;
}

